* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 16px;
}

header{
    display: block;
    position: fixed;
    z-index: 1;
    background:rgba(255, 255, 255, 0.9);
    width: -webkit-fill-available;
    top: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 1.812rem;
    font-weight: 700;
}
h3 {
    font-size: 1.375rem;
    font-weight: 700;
}

footer {
    background-color: #0F3F7B;
    color: #17F9C2;
    padding: 1rem 0;
    text-align: center;
}

a{
    color: #0F3F7B;
    -webkit-text-decoration: #0F3F7B solid underline;
    text-decoration: #0F3F7B solid underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}
.flex_title{
    display: flex;
    justify-content: space-between;
}

.text_center{
    text-align: center;
}

h1, h2, h3, p{
    color:#0F3F7B; 
    margin: 0.85rem 0;
}


.wrapper{
    padding: 0 1.875rem;
    max-width: 1400px;
    margin: 0 auto;
}

.portfolio_title{
    margin: 0.85rem 1.875rem;
}

.navigation,
.navigation__list {
    display: flex;
    justify-content: space-between;
    font-size: .75rem;
}
.navigation__list li {
    margin: 1rem 2rem;
}

/*.home_page{
    background: url(img/green_shape-01.png) 20% 24vh no-repeat;
    background-size: 150%;
}
.portfolio__background{
    background: url(img/green_shape-02.png) 73% -15vh no-repeat;
    background-size: 200%;
  }

.contact_page{
    background: url(img/green_shape-02.png) 97% 36vh no-repeat;
    background-size: 200%;
}
*/
.home_page{
    margin-top: 5rem;
    background: url(img/green_shape-01.png) 120% 7vh no-repeat;
    background-size: 60%;
}

.button__primary{
    display: block;
    margin: 1.6875rem auto;
    padding: 1rem 3rem;
    border-radius: 36px;
    font-size: 1.375rem;
    color:#0F3F7B;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    background-color: #17F9C2;
    max-width: 300px;
}


.navigation__list li a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
    margin-top: 1rem;
    padding: 0;
}


.accent{
    color: #0AC795;
}

img {
    display: block;
    max-width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section{
    margin: 0 1.6875rem 5rem 1.6875rem;
}

.padding__image{
    padding: 0 2.53rem;
}

.portfolio__title{
    margin: 0;
}

.comoh3{
    font-size: 1.3rem;
    font-weight: 700;
}

.social svg { 
    fill: #17F9C2; 
}

.social__item {
    display: block;
    padding: 0,625rem;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#contact .wrapper img{
    padding: 1.6875rem 2rem;
}

.hero__image {
    margin-top: 2rem;
    max-width: 380px;
    }


@media (min-width: 48em) and (max-width: 72em) { /* 768px */

    /*.home_page{
        background: url(img/green_shape-01.png) 80% 23vh no-repeat;
        background-size: 80%;
    }
    */

    html, body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        font-size: 18px;
    }

    .hero {
        padding: 6rem 0;
    }

    .hero__image {
    padding-top: 6rem;
    }

    .wrapper{
        padding: 0 5rem;
    }

    .section{
        margin: 0 5rem 5rem 5rem;
    }
    .contact_page img{
        max-width: 450px; 
        margin-top: 1rem;
    }
    .button__primary{
        display: block;
        margin: 1.6875rem auto;
        padding: 1rem 3rem;
        border-radius: 36px;
        font-size: 1rem;
        color:#0F3F7B;
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        background-color: #17F9C2;
        max-width: 300px;
    }
}

@media (min-width: 72em) { /* 1024px */
    html, body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        font-size: 18px;
    }
    h2{
        font-size: 2rem;
    }

   /* .home_page{
        background: url(img/green_shape-01.png) 139% 3vh no-repeat;
        background-size: 65%;
    }
    */

    .fall{
        margin-right: 1.5rem;
    }

    .hero {
        display: flex;
        padding: 5rem 0;
    }

    .hero__content {
        width: 65%;
    }

    .hero__image {
        width: 35%;
        padding-top: 10rem;
        max-width: 410px;
        min-width: 380px;
    }

    .wrapper{
        padding: 0 9rem;
    }

    .section{
        display: flex;
        margin: 0 9rem 5rem 9rem;
        justify-content: space-between;
    }

    .section__invert{
        display: flex;
        justify-content: space-between;
    }

    .section__content{
        width: 70%;
    }

    .button__primary{
        display: block;
        margin: 1.6875rem 0;
        padding: 1rem 3rem;
        border-radius: 36px;
        font-size: 0.9rem;
        color:#0F3F7B;
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        background-color: #17F9C2;
        max-width: 300px;
    }
    .contact_page img{
        max-width: 480px; 
        margin-top: 0;
    }
    .comoh3{
        font-size: 1.2em;
        font-weight: 700;
    }
}   
