* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    font-size: 16px;
    overflow-x: hidden;
}

header {
    display: block;
    position: fixed;
    z-index: 1;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    top: 0;
    height: 67px;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

h1 {
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 1.3;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.3;
    padding-right: 3.5rem;
}

h3 {
    font-size: 1.375rem;
    font-weight: 700;
}


.footer {
    background-color: #0f3f7b;
    color: #17f9c2;
    padding: 0.5rem 0.5rem;
    text-align: center;
}

.link {
    color: #38A1D6;
    -webkit-text-decoration: #0f3f7b solid underline;
    text-decoration: #0f3f7b solid underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}




/* ↓ para menu burger*/

button,
[role="button"],
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 100%;
    line-height: 1;
    padding: 8px 14px;
    text-align: center;
    vertical-align: top;
    width: auto;
}

.desktop {
    display: none;
}


/* ↑ para menu burger*/


.text_center {
    text-align: center;
}

h1,
h2,
h3,
p {
    color: #0f3f7b;
    margin: 0.85rem 0;
}

p {
    line-height: 1.6875rem;
    margin-block-end: 0.5rem;
    margin-block-start: 0.5rem;
}

.box_fill {
    display: block;
    margin: 0 -1rem;
    padding: 0.6rem 1.5rem;
    border-radius: 15px;
    background-color: #EDF3F4;
}

.wrapper {
    padding: 0 1.875rem;
    margin: 0 auto 4rem;
    width: 100%;
}
.wrapper_b {
    padding: 0 1.875rem;
    margin: 0 auto;
    width: 100%;
}
.texto_intro {
    font-size: 1.8125rem;
    font-weight: 700;
    line-height: 1.3;
}
.texto_in {
    font-size: 1rem;
}
.texto_espai{
    margin-bottom: 5rem;
}
.background {
    background: #F6FAFC;
    padding: 2rem 0;
}
.backspace{
    margin-bottom: 4rem;
}

.portfolio_title {
    margin: 0.85rem 1.875rem;
}

.navigation__list li {
    margin: 1rem 1rem;
    text-decoration: none;
}


/*.home_page{
    background: url(img/green_shape-01.png) 20% 24vh no-repeat;
    background-size: 150%;
}
.portfolio__background{
    background: url(img/green_shape-02.png) 73% -15vh no-repeat;
    background-size: 200%;
  }

.contact_page{
    background: url(img/green_shape-02.png) 97% 36vh no-repeat;
    background-size: 200%;
}
*/

.home_page {
    background: url(img/green_shape-01.png) 6% 28vh no-repeat;
    background-size: 140%;
}
.home_404 {
    background: url(img/green_shape-01.png) 6% 28vh no-repeat;
    background-size: 140%;
    height: 100vh;
}
.button__primary {
    display: inline-block;
    padding: 0.75rem 2.5rem;
    border-radius: 23px;
    font-size: 0.9rem;
    color: #0f3f7b;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    background-color: #17f9c2;
    margin: 1.5rem auto;
}
.button__dos {
    display: inline-block;
    padding: 0.75rem 2.5rem;
    border-radius: 23px;
    font-size: 0.9rem;
    border: 2px solid;
    border-color: #0f3f7b;
    color: #0f3f7b;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 1rem auto;
    background-color: #Fff;
}

.left{
    margin: 1.6875rem 0;
}


.navigation__list li a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin-top: 1rem;
    padding: 0;
}

.accent {
    color: #0ac795;
}

img {
    display: block;
    max-width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section {
    margin: 0 1.6875rem 5rem 1.6875rem;
    min-height: 100vh;
}

.padding__image {
    padding: 0 2.53rem;
}

.portfolio__title {
    margin: 0;
}

.comoh3 {
    font-size: 1rem;
}

.social svg {
    fill: #17f9c2;
}

.social__item {
    display: block;
    padding: 0 0.625rem;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero{
    padding-top: 67px;
    height: 100vh;
}
.hero__image {
    margin: auto;
    max-width: 340px;
    width: 90%;
}
.hero__gif {
    margin: auto;
    max-width: 340px;
    width: 90%;
}

.card__content {
    background: #F6FAFC;
    border-radius: 20px;
    padding: 9rem 1.5rem 1.5rem;
    margin-top: -9rem;
    margin-bottom: 3rem;
    min-height: inherit;
}

.card__image {
    margin: 0 auto;
    width: 90%;
}

.light_text {
    color: #38A1D6;
}
.fullblock {
    display: block;
    text-decoration: none;
}

.fullblock:hover {
    display: block;
}
.green {
    width: 100%;
    height: auto;
    padding: 20px;
}
.blue {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #F6FAFC;
}

.sidebar-wrapper {
    position: static;
    width: 100%;
    height: auto;
    padding: 65px 45px 60px;
    background: #E0F2F4;
}
.about_container {
    position: static;
    width: 100%;
}
.about {
    width: auto;
    margin-top: 50px;
}
.about-copy {
    width: 100%;
    margin-bottom: 6rem;
}
.content-wrapper {
    width: 100%;
    margin-left: 0%;
}
.title_sub {
    margin-top: -10px;
    margin-left: 0px;
    float: none;
    clear: none;
    color: #0F3F7B;
    font-size: 0.75rem;
    line-height: 0.75rem;
    text-decoration: none;
}
.title_sub1{
    color: #0F3F7B;
    font-size: 0.75rem;
    line-height: 0.75rem;
}
.section__ {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column-reverse;
}
.panoptic__image {
    max-width: 300px;
    margin: 2rem auto 4rem;
}
.panoptic__content {
    padding-right: 1rem;
}
.logo__image {
    width: 90%;
    margin: 1.5rem auto 1.5rem;
}
.flex_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
}
.flex__prog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;  
}

.hero_proj__image {
    max-width: 200px;
    width: 90%;
    margin: 5rem auto;
}
.oops{
    height: 100%;
    padding-top: 67px;
}
.texto_es {
    margin-bottom: 1rem;
}
.gif_top {
    margin-top: 4rem;
}
.gif_footer {
    position: fixed;
    bottom: 0;
    width:100%;
}
.volver_footer {
    position: fixed;
    bottom: 55px;
    width:100%;
}
.volver{
    display: flex;
    padding: 0 1.875rem;
    right: 20px;
    width: 100%;
    position: absolute;
    bottom: 55px;
}
.volver_c{
    background: #F6FAFC;
}
.logo{
    height: 18px;
}
.volver_no{
    display: flex;
    padding: 0 1.875rem;
    margin: 2rem auto;
    width: 100%;
}
.pos {
    display: block;
    position: fixed;
    right: 25px;
    bottom: 70px;
}
.nomarg{
    margin: 0.2rem;
}
.ab_separation {
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.ab_image {
    width: 100%;
    height: 100%;
    margin: auto;
}
.ab_flex{
    display: flex;
    flex-direction: column;
}
.ab_margin {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.ab_image_moch{
    width: 60%;
    height: 100%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.ab_image_map{
    width: 100%;
    height: 100%;
}
.ab_inline{
    margin-right: 0.5rem;
    width: 1rem;
    margin-top: 0.75rem;
}
.ab_fontsize{
    font-size: 1rem;
}
.ab_icon-flex{
    display: inline-flex;
    align-items: flex-start;
    padding-right: 1rem;
}
.ab_space{
    margin-bottom: 1rem;
}

.ab_background{
    background-color: #F6FAFC;
}
.downlink{
    color: #0f3f7b;
    -webkit-text-decoration: #2269A8 solid underline;
    text-decoration: #2269A8 solid underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}



@media (min-width: 48em) and (max-width: 64em) {
    /* 768px */
    /*.home_page{
        background: url(img/green_shape-01.png) 80% 23vh no-repeat;
        background-size: 80%;
    }
    */
    html,
    body {
        font-family: "Poppins", sans-serif;
        margin: 0;
        font-size: 16px;
    }
    .header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 1rem 3rem;
    }
    h2 {
        font-size: 2rem;
        margin: 1rem 0;
        padding-right: 0;
    }
    .hero_proj {
        padding: 6rem 0;
        height: 100vh;
        padding-top: 67px;
    }
    .home_page {
        background: url(img/green_shape-01.png) 20% 13vh no-repeat;
        background-size: 100%;
    }
    .home_404 {
        background: url(img/green_shape-01.png) 20% 13vh no-repeat;
        background-size: 100%;
        height: 100vh;
    }
    .navigation__list li {
        margin: 1rem 2rem;
        text-decoration: none;
    }
    .navigation,
    .navigation__list {
        display: flex;
        justify-content: space-between;
        font-size: 0.75rem;
    }
    .flex_title {
        display: flex;
        justify-content: space-between;
    }
    .hero {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
        padding-top: 67px;
        flex-direction: column;
    }
    .hero__image {
        max-width: 340px;
        width: 90%;
        margin: 2rem auto;
    }
    .hero__gif {
        max-width: 340px;
        width: 90%;
        margin: 4rem auto 0;
    }
    .hero_proj__image {
        max-width: 320px;
        width: 90%;
        margin: auto;
    }
    .panoptic__image {
        width: 32%;
        max-width: 300px;
        padding: 4rem 0;
    }
    .panoptic__content {
        width: 65%;
        padding-right: 1rem;
    }
    .logo__image {
        width: 55%;
        margin: 0 0 2rem;
    }
    .flex_logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
    }
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem 0;
    }
    .flex__prog {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;  
    }
    .pan__image {
        max-width: 40%;
        margin-top: -4rem;
    }

    .wrapper {
        padding: 0 5rem;
        margin: 0 auto;
    }
    .wrapper_b {
        padding: 0 5rem;
    }
  
    .section {
        margin: 0 5rem 5rem 5rem;
    }
    .contact_page img {
        max-width: 280px;
        margin-top: 1rem;
       padding-left: 1rem;
    }
    .section__ {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    .less_space{
        margin-bottom: 0.5rem;
    }
    .button__primary {
        display: inline-block;
        padding: 0.75rem 3rem;
        border-radius: 36px;
        font-size: 0.9rem;
        color: #0f3f7b;
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        background-color: #17f9c2;
        margin: 0 auto;
    }
    .button__dos {
        display: inline-block;
        padding: 0.75rem 3rem;
        border-radius: 36px;
        font-size: 0.9rem;
        border: 2px solid;
        border-color: #0f3f7b;
        color: #0f3f7b;
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 1.5rem auto;
        background-color: #Fff;
    }
    .left{
        margin: 1.6875rem 0;
    }
    .grid {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .grid__column {
        width: calc((100% - 1rem) / 2);
    }
    .menu_text {
        font-size: 18px;
        color: #0F3F7B;
        text-decoration: none;
    }
    .menu_text:hover {
        color: #0f3f7b;
        -webkit-text-decoration: #17F9C2 solid underline;
        text-decoration: #17F9C2 solid underline;
        -webkit-text-decoration-skip: ink;
        text-decoration-skip: ink;
    }
    .background {
        background: #F6FAFC;
        padding: 2rem 0;
    }
    .backspace{
        margin-bottom: 2rem;
    }
    
    .texto_in{
        font-size: 1.8125rem;
        font-weight: 700;
        line-height: 1.3;
    }
    .oops {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }  
    .texto_right{
        padding-right: 5rem;
    } 
    .volver{
        display: flex;
        padding: 0 1.875rem;
        margin: 0 auto;
        width: 100%;
        bottom: 55px;
        position: absolute;
    }
    .volver_c{
        background: #F6FAFC;
    }
    .volver_footer {
        position: fixed;
        width: 100%;
    }
    .volver_no{
        display: flex;
        padding: 0 1.875rem;
        margin: 2rem auto;
        width: 100%;
    }
    .logo{
        height: 24px;
    }
}

@media (min-width: 64em) {
    /* 1024px */
    html,
    body {
        font-family: "Poppins", sans-serif;
        margin: 0;
        font-size: 18px;
    }
    h2 {
        font-size: 2.5rem;
        margin: 1.5rem 0;
        padding-right: 0;
    }
    /* .home_page{
        background: url(img/green_shape-01.png) 139% 3vh no-repeat;
        background-size: 65%;
    }
    */
    .home_page {
        background: url(img/green_shape-01.png) 115% 11vh no-repeat;
        background-size: 58%;
    }
    .home_404{
        background: url(img/green_shape-01.png) 115% 11vh no-repeat;
        background-size: 58%;
    }
    .flex_title {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .navigation__list li {
        margin: 1rem 2rem;
        text-decoration: none;
    }
    .navigation,
    .navigation__list {
        display: flex;
        justify-content: space-between;
        font-size: 0.75rem;
    }
    .fall {
        margin-right: 1.5rem;
    }
    .hero {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: space-between;
        padding-top: 67px;
        flex-direction: row;
    }
    .oops {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding-top: 90px;
    }
    .hero__content {
        width: 55%;
    }
    .hero__image {
        width: 37%;
        padding-top: 10rem;
        max-width: 410px;
        min-width: 380px;
        height: auto;
        margin-top: 2rem;
    }
    .hero__gif {
        width: 37%;
        padding-top: 0;
        max-width: 410px;
        min-width: 380px;
        height: auto;
        margin: 0;
    }
    .hero_proj {
        display: flex;
        align-items: center;
        
    }
    .hero_proj__content {
        margin-top: 2rem;
        width: 50%;
    }
    .hero_proj__image {
        width: 35%;
        max-width: 410px;
        min-width: 380px;
        margin-left: auto;
        margin-bottom: 3rem;
    }
    .logo__image {
        max-width: 50%;
        padding-left: 2rem;
    }
    .logo__content {
        max-width: 50%;
    }
    .flex_logo {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
    }
    .flex__prog {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
    }
    .panoptic__image {
        width: 32%;
        margin: auto 0;
        padding-left: 2rem;
    }
    .panoptic__content {
        width: 65%;

    }
    .pan__image {
        max-width: 50%;
        padding-left: 2rem;
        margin-top: -5rem;
    }
    .pan__content {
        max-width: 50%;
    }
    /*.hero a {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
    }*/
    .wrapper {
        max-width: 1100px;
        width: 90%;
        padding: 0 1.875rem;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .wrapper_b {
        max-width: 1100px;
        width: 90%;
        padding: 0 1.875rem;
        margin: 0 auto;    
    }
    .background {
        background: #F6FAFC;
        padding: 2rem 0;
    }
    .backspace{
        margin-bottom: 4rem;
    }
    header.wrapper {
        max-width: none;
    }
    .header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 2rem 4rem;
    }
    .section {
        display: flex;
        margin: auto 9rem;
        justify-content: space-between;
        min-height: 100vh;
        align-items: center;
    }
    .box_fill {
        display: block;
        margin: 0 -1.5rem;
        padding: 2rem 4rem;
        border-radius: 15px;
        background-color: #EDF3F4;
    }
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem 0;
    }
  
    .section__ {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
    }
    .section__content {
        width: 70%;
    }
    .button__primary {
        display: inline-block;
        padding: 0.75rem 2rem;
        border-radius: 36px;
        font-size: 0.9rem;
        color: #0f3f7b;
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        background-color: #17f9c2;
        margin: 1.6875rem auto;
        transition: all 0.5s;
    }
    .button__primary span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .button__primary span:after {
        content: "✉";
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .button__primary:hover span {
        padding-right: 25px;
      }
      
      .button__primary:hover span:after {
        opacity: 1;
        right: 0;
      }
    .button__dos {
        display: inline-block;
        padding: 0.75rem 2rem;
        border-radius: 36px;
        font-size: 0.9rem;
        border: 2px solid;
        border-color: #0f3f7b;
        color: #0f3f7b;
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 1.5rem auto;
        background-color: #fff;
    }
    .button__dos span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .button__dos span:after {
        content: '\276E';
        position: absolute;
        opacity: 0;
        top: 0;
        left: -20px;
        transition: 0.5s;
      }
      
      .button__dos:hover span {
        padding-left: 25px;
      }
      
      .button__dos:hover span:after {
        opacity: 1;
        left: 0;
      }
    .left{
        margin: 1.6875rem 0;
    }
    .contact_page img {
        max-width: 480px;
        margin-top: 0;
    }
    .comoh3 {
        font-size: 1.2em;
        font-weight: 700;
    }
    .grid {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .grid__column {
        width: calc((100% - 1.5rem) / 2);
    }
    /*Projects page */
    .sidebar-wrapper {
        position: fixed;
        left: 0px;
        top: 0px;
        right: 552px;
        bottom: 0px;
        z-index: 0;
        width: 40%;
        height: 100%;
        padding: 75px 85px 50px;
        background: #E0F2F4;
        background-image: linear-gradient(180deg, #E0F2F4, #E0F2F4);
    }
    .about-copy {
        display: block;
        width: 100%;
        margin-top: 25px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        font-family: 'Museosans 100', sans-serif;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 5rem;
    }
    .about_container {
        position: absolute;
        left: 85px;
        right: 0px;
        bottom: 15%;
        width: 65%;
    }
    .social_margin {
        height: 24px;
        margin-top: 45px;
        margin-bottom: 65px;
        opacity: 1;
    }
    .flex_social {
        display: flex;
        align-items: center;
    }
    .social__item_footer {
        display: block;
        padding: 0.625rem;
        margin-right: 30px;
    }
    .flex_social svg {
        fill: #2269A8;
    }
    .green {
        width: 100%;
      padding-top: 100%;
        padding: 65px;
        /*background: #b4fdf2*/
        background: #fff;
    }
    .blue {
        width: 100%;
        height: auto;
        padding: 65px;
        background-color: #F6FAFC;
    }

    .content-wrapper {
        position: static;
        overflow: visible;
        width: 60%;
        max-width: 1200px;
        margin-left: 40%;
        float: none;
        clear: none;
        padding-top: 75px;
    }
    .w-clearfix:before,
    .w-clearfix:after {
        content: " ";
        display: table;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 2;
        grid-row-end: 2;
        content: "";
    }
    .w-clearfix:after {
        clear: both;
    }
    .w-clearfix:before,
    .w-clearfix:after {
        content: " ";
        display: table;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 2;
        grid-row-end: 2;
    }
    .gp_watch_dribbble {
        width: 25px;
        height: 25px;
        padding: 0px;
        float: right;
        background-color: transparent;
        background-image: url(../assets/img/eye.svg);
        background-position: 0px 0px;
        background-size: 25px;
        background-repeat: no-repeat;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
    }
    .w-button {
        display: inline-block;
        padding: 9px 15px;
        color: white;
        border: 0;
        line-height: inherit;
        text-decoration: none;
        cursor: pointer;
        border-radius: 0;
    }
    .title_sub {
        margin-left: 0px;
        float: none;
        clear: none;
        color: #0F3F7B;
        font-size: 0.7rem;
        line-height: 0.7rem;
        text-decoration: none;
    }
    element.style {
        opacity: 1;
        transform: translateX(0px) translateY(0px) translateZ(0px);
        transition: opacity 500ms ease 0s, transform 500ms ease 0s;
    }
    html.w-mod-js *[data-ix="text-slide-2"] {
        opacity: 0;
        -webkit-transform: translate(-25px, 0px);
        -ms-transform: translate(-25px, 0px);
        transform: translate(-25px, 0px);
    }
    html.w-mod-js *[data-ix="work-transition"] {
        opacity: 0;
        -webkit-transform: translate(0px, 65px);
        -ms-transform: translate(0px, 65px);
        transform: translate(0px, 65px);
    }
    .title {
        margin-top: 5px;
        margin-left: 0px;
        float: left;
        color: #0F3F7B;
    }
    .space {
        margin-top: 2rem;
    }
    .minus_space {
        margin: -35px auto;
    }
    .less_space{
        margin-bottom: 0.5rem;
    }
    .footer {
        background-color: #0f3f7b;
        color: #17f9c2;
        padding: 0.5rem 3rem;
        text-align: center;
    }
    .espai_h{
        padding-top: 75px;
    }
    .card__content {
        background: #F6FAFC;
        border-radius: 20px;
        padding: 9rem 1.5rem 1.5rem;
        margin-top: -11rem;
        min-height: inherit;
    }
    
    .card__image {
        margin: 0 auto;
        width: 90%;
    }
    .title_sub1{
        color: #0F3F7B;
        font-size: 0.7rem;
        line-height: 0.7rem;
    }
    .texto_in {
        font-size: 1.8125rem;
        font-weight: 700;
        line-height: 1.3;
    }
    .texto_right{
        padding-right: 5rem;
    }
    .gif_top {
        margin-top: 0rem;
    }
    .volver{
        display: flex;
        padding: 0 1.875rem;
        margin: 0 auto;
        width: 100%;
        bottom: 55px;
        position: absolute;
    }
    .volver_no{
        display: flex;
        padding: 0 1.875rem;
        margin: 2rem auto;
        width: 100%;
    }
    .volver_c{
        background: #F6FAFC;
    }

    .volver_footer {
        position: fixed;
        width: 100%;
    }
    .nose{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding-bottom: 5rem;
        padding-bottom: 9rem;
        padding-top: 67px;
    }
    .gif_footer {
        position: fixed;
        bottom: 0;
        width:100%;
    }
    .logo{
        height: 24px;
    }
}


/*🍔*/
/* min-width: 639px */
@media (max-width: 39.9375em) {
    .navigation {
        background: #0F3F7B;
        height: 100vh;
        padding: 20px;
        position: fixed;
        top: 0;
        left: 100%;
        width: 50%;
        transition: left 300ms ease-in-out;
    }
    .menu-open .navigation {
        left: 50%;
    }
    .menu_text {
        text-decoration: none;
        color: #EDF3F4;
        line-height: 4rem;
        text-align: center;
    }
    .menu_text:hover {
        color: #EDF3F4;
        -webkit-text-decoration: #17F9C2 solid underline;
        text-decoration: #17F9C2 solid underline;
        -webkit-text-decoration-skip: ink;
        text-decoration-skip: ink;
    }
  
}


/* Desktop  */
/* min-width: 640px */
@media (min-width: 40em) {
    .burguer,
    .mobile,
    .navigation__close {
        display: none;
    }
    .desktop {
        display: block;
    }
    .navigation__list {
        display: flex;
        align-items: center;
    }
    .navigation__link {
        padding: 0 10px;
    }
    .menu_text {
        font-size: 1rem;
        color: #0F3F7B;
        text-decoration: none;
    }
    .menu_text:hover {
        color: #0f3f7b;
        -webkit-text-decoration: #17F9C2 solid underline;
        text-decoration: #17F9C2 solid underline;
        -webkit-text-decoration-skip: ink;
        text-decoration-skip: ink;
    }
    .hover01 figure img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .hover01 figure:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .nomarg{
        margin: 1rem;
    }
    .ab_margin {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
    .ab_separation {
        padding-bottom: 2rem;
        padding-top: 0rem;
    }
    .ab_image {
        width: 60%;
        height: 100%;
        margin: auto;
    }
    .ab_flex{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .ab_image_moch{
        width: 30%;
        height: 100%;
        padding-left: 2rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
        margin-top: -3rem;
    }
    .ab_image_map{
        width: 45%;
        height: 100%;
        margin-top: -3rem;
    }
    .ab_inline{
        display: inline-flex;
        margin-right: 1rem;
        width: 1rem;
        margin-top: 0.75rem;
   
    }.ab_space{
        margin-bottom: 1.75;
    }
  

}