* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    font-size: 16px;
    overflow-x: hidden;
}

/*
 * Menu ------------------------------------------------------------------------------
 */
 .logo{
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    display: block;
    position: relative;
    top: 18px;
    right: 33px;
 }

.flex_title {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 25px;
  left: 33px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #EDF3F4;
  text-align: center;
  line-height: 4rem;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
    color: #EDF3F4;
    -webkit-text-decoration: #17F9C2 solid underline;
    text-decoration: #17F9C2 solid underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #0f3f7b;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #EDF3F4;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -52px 0 0 -50px;
  padding-top: 125px;
  padding-bottom: 300px;
  
  background: #0f3f7b;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  height: 100vh;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/*
 * Menu------------------------------------------------------------------------------
 */



header {
    display: block;
    position: fixed;
    z-index: 1;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    top: 0;
    height: 67px;
}

h1 {
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 1.3;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.3;
    padding-right: 4.5rem;
}
h3 {
    font-size: 1.375rem;
    font-weight: 700;
}

footer {
    background-color: #0f3f7b;
    color: #17f9c2;
    padding: 1rem 0;
    text-align: center;
}

a {
    color: #0f3f7b;
    -webkit-text-decoration: #0f3f7b solid underline;
    text-decoration: #0f3f7b solid underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}

.background{
background: #F6FAFC;
}

.texto_intro {
    font-size: 1.8125rem;
    font-weight: 700;
    line-height: 1.3;
}


.text_center {
    text-align: center;
}

h1,
h2,
h3,
p {
    color: #0f3f7b;
    margin: 0.85rem 0;
}
p{
    line-height: 1.6875rem;
}

.box_fill{
    display: block;
    margin: 0 -1rem;
    padding: 0.6rem 1.5rem;
    border-radius: 15px;
    background-color: #EDF3F4;
    
}

.wrapper {
    padding: 0 1.875rem;
    margin: 0 auto 4rem;
    width: 100%;
}

.portfolio_title {
    margin: 0.85rem 1.875rem;
}


.navigation__list li {
    margin: 1rem 2rem;
}

/*.home_page{
    background: url(img/green_shape-01.png) 20% 24vh no-repeat;
    background-size: 150%;
}
.portfolio__background{
    background: url(img/green_shape-02.png) 73% -15vh no-repeat;
    background-size: 200%;
  }

.contact_page{
    background: url(img/green_shape-02.png) 97% 36vh no-repeat;
    background-size: 200%;
}
*/
.home_page {
    margin-top: 5rem;
    background: url(img/green_shape-01.png) 6% 28vh no-repeat;
    background-size: 140%;
}

.button__primary {
    display: block;
    margin: 1.6875rem auto;
    padding: 1rem 3rem;
    border-radius: 36px;
    font-size: 1.375rem;
    color: #0f3f7b;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    background-color: #17f9c2;
    max-width: 300px;
}

.navigation__list li a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin-top: 1rem;
    padding: 0;
}

.accent {
    color: #0ac795;
}

img {
    display: block;
    max-width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section {
    margin: 0 1.6875rem 5rem 1.6875rem;
    min-height: 100vh;
}

.padding__image {
    padding: 0 2.53rem;
}

.portfolio__title {
    margin: 0;
}

.comoh3 {
    font-size: 1.3rem;
    font-weight: 700;
}

.social svg {
    fill: #17f9c2;
}

.social__item {
    display: block;
    padding: 0, 625rem;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.hero__image {
    margin-top: 2rem;
    max-width: 340px;
    width: 90%;
}


.card__content {
    background: #F6FAFC;
    border-radius: 20px;
    padding: 3.5rem 1.5rem 1.5rem;
    margin-top: -5rem;
    min-height: inherit;
    height: 395px;
}

.card__image {
    margin: 0 auto;
    max-width: 315px;
    width: 95%;
}

.light_text{
    color: #38A1D6;
}
.logo__content{
    width: 40%;
}

@media (min-width: 48em) and (max-width: 72em) {
    /* 768px */

    /*.home_page{
        background: url(img/green_shape-01.png) 80% 23vh no-repeat;
        background-size: 80%;
    }
    */

    html,
    body {
        font-family: "Poppins", sans-serif;
        margin: 0;
        font-size: 18px;
    }

    .hero {
        padding: 6rem 0;
    }

    .home_page {
        margin-top: 5rem;
        background: url(img/green_shape-01.png) 20% 13vh no-repeat;
        background-size: 100%;
    }

    .navigation,
    .navigation__list {
        display: flex;
        justify-content: space-between;
        font-size: 0.75rem;
    }

    .flex_title {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .hero__image {
        padding-top: 6rem;
    }
   

    .wrapper {
        padding: 0 5rem;
    }

    .section {
        margin: 0 5rem 5rem 5rem;
    }
    .contact_page img {
        max-width: 450px;
        margin-top: 1rem;
    }
    .button__primary {
        display: block;
        margin: 1.6875rem auto;
        padding: 1rem 3rem;
        border-radius: 36px;
        font-size: 1rem;
        color: #0f3f7b;
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        background-color: #17f9c2;
        max-width: 300px;
    }

    .grid {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .grid__column {
        width: calc((100% - 1rem) / 2);
    }
    
}

@media (min-width: 72em) {
    /* 1024px */
    html,
    body {
        font-family: "Poppins", sans-serif;
        margin: 0;
        font-size: 18px;
    }
    h2 {
        font-size: 2.5rem;
        margin: 2rem 0;
        padding-right: 0;
    }

    /* .home_page{
        background: url(img/green_shape-01.png) 139% 3vh no-repeat;
        background-size: 65%;
    }
    */

    .home_page {
        margin-top: 0;
        background: url(img/green_shape-01.png) 115% 11vh no-repeat;
        background-size: 58%;
    }

    .flex_title {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .navigation,
    .navigation__list {
        display: flex;
        justify-content: space-between;
        font-size: 0.75rem;
    }

    .fall {
        margin-right: 1.5rem;
    }

    .hero {
        display: flex;
    
    }

    .hero__content {
        margin-top: 2rem;
        width: 65%;
    }

    .hero__image {
        width: 35%;
        padding-top: 10rem;
        max-width: 410px;
        min-width: 380px;
    }
    .logo__image {
        width: 60%;
        max-width: 530px;
        min-width: 380px;
    }

    .hero a{
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .wrapper {
        padding: 2rem 9rem;
        max-width: 1200px;
        padding: none;
        height: 100%;
        position: relative;
    }

    header.wrapper {
        max-width: none;
    }

    .section {
        display: flex;
        margin: auto 9rem;
        justify-content: space-between;
        min-height: 100vh;
        align-items: center;
    }

    .box_fill{
        display: block;
        margin: 0 -2rem;
        padding: 2rem 4.5rem;
        border-radius: 15px;
        background-color: #EDF3F4;
        
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .section__invert {
        display: flex;
        justify-content: space-between;
    }

    .section__content {
        width: 70%;
    }

    .button__primary {
        display: block;
        margin: 1.6875rem auto;
        padding: 1rem 3rem;
        border-radius: 36px;
        font-size: 0.9rem;
        color: #0f3f7b;
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        background-color: #17f9c2;
        max-width: 300px;
    }

    .contact_page img {
        max-width: 480px;
        margin-top: 0;
    }

    .comoh3 {
        font-size: 1.2em;
        font-weight: 700;
    }

    .grid {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .grid__column {
        width: calc((100% - 1rem) / 2);
    }

}    